<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/head')%>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/categoria.css">
   <link rel="stylesheet" href="/css/header.css">
   <link rel="stylesheet" href="/css/footer.css">
   <title>Scorpion Tabacaria</title>
</head>

<body>


   <%- include('partials/header-navbar') %>


   <h1>Listagem dos Produtos</h1>

   <div class="container-categoria">
      <% products.map((product) => { %>
      <div class="descricao">

         <div class="img-carrinho">
            <a href="#" id="adicionar-carrinho">
               <img src="/img/adicionar-ao-carrinho.png" alt="adicionar ao carrinho">
            </a>

         </div>

         <img class="productImage" src="<%= product.image_path%>" alt="imagem do produto">

         <h4><%= product.name %></h4>

         <p>R$<%= product.price %></p>

         <a href="/detalhe/<%=product.id %>">Detalhe do produto</a>

        
      </div>
      <% }) %>

   </div>



   <%- include('partials/footer') %>


</body>

</html>