<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/data.css">

<body>
  <%- include('partials/header-navbar') %>
  <main>

    <%- include('partials/userAccount') %>
    <h2>Meus dados</h2>
    <div class="line"></div>
    </div>
    </div>
    <section class="data-container">
     <div class="dataUser">
      <div class="row">
    <h3>Nome:</h3> <p><%= users.first_name %></p>
  </div>
  <div class="row">
    <h3>Sobrenome: </h3><p><%= users.last_name %></p>
  </div>
  <div class="row">
    <h3>email: </h3><p><%= users.email %></p>
  </div>
  <div class="row">
    <h3>Data de nascimento: </h3><p><%= users.birth_date %></p>
  </div>
  <div class="row">
    <h3>CPF: </h3><p><%= users.cpf %></p>
  </div>
  <div class="row">
    <h3>Telefone:</h3> <p><%= users.phone_number %></p>
  </div>
    
    </section>

    </article>

    </section>

  </main>
  <%- include('partials/footer') %>
</body>

</html>