<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/data.css">

<body>
  <%- include('partials/header-navbar') %>
  <main>

    <%- include('partials/userAccount') %>
    <h2>Meus dados</h2>
    <div class="line"></div>
    </div>
    </div>
    <section class="data-container">
      <div class="userName">
        <div class="row">
         
          <h3>Nome:</h3>
          <p><%= user.first_name %></p>
        </div>
        <div class="row">
          <h3>Sobrenome: </h3>
          <p><%= user.last_name %></p>
        </div>
        <div class="row">
          <h3>email: </h3>
          <p><%= user.email %></p>
        </div>

      </div>
      <% data.map((dat) => { %>
      <div class="dataUser">
       
        <div class="dataPrincipal">
          <h3>CPF: </h3>
          <p><%= dat.cpf %></p>
          <h3>Telefone:</h3>
          <p><%= dat.phone_number %></p>
        </div>
        <div class="photos">
          <h3>Sua foto </h3>
          <img class="image" src="<%= dat.avatar_path %>" alt="imagem do produto">
        </div>
        <div class="photos">
          <h3>Documento: </h3>
          <img class="image" src="<%= dat.id_photo %>" alt="imagem do produto">
        </div>
        
      </div>
      <div class="editData">  
      <a href="/users/data/edit/<%= dat.id%>"><button type="submit" class="btn btnEdit"><i class="fa-solid fa-pen-to-square fa-xl"></i>Editar dados</button>
      </a>
      </div>

      <% }) %>
    </section>

    </article>

    </section>

  </main>
  <%- include('partials/footer') %>
</body>

</html>