<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/address.css">

<body>
  <%- include('partials/header-navbar') %>
  <main>
    <%- include('partials/userAccount') %>
    <h2>Endereços Cadastrados</h2>
    <div class="line"></div>
    </div>
    </div>
    <fieldset>
      <legend>Editar endereço</legend>


      <form class="form-user" action="/user/address/update/<%=address.id %>" method="POST">
        <div>
          <label for="street">Logradouro</label>
          <input class="input-user" type="text" id="street" name="name" value="<%=address.street %>"/>
        </div>

        <div>
          <label for="number">Nº</label>
          <input class="input-user" type="text" id="number" name="number" value="<%=address.number %>"" />
        </div>

        <div>
          <label for="district">Bairro</label>
          <input class="input-user" type="text" id="district" name="district" value="<%=address.district %>"/>
        </div>
        <div>
          <label for="zipcode">CEP</label>
          <input class="input-user" type="text" id="zipcode" name="zipcode" value="<%=address.zipcode %>"/>
        </div>
        <div>
          <label for="city">Cidade</label>
          <input class="input-user" type="text" id="city" name="city" value="<%=address.city %>"/>
        </div>
        <div>
          <label for="country">País</label>
          <input class="input-user" type="text" id="country" name="country" value="<%=address.country %>"/>
        </div>
        <button class="btn-edit" type="submit">Salvar</button>
      </form>

    </fieldset>


    </article>
    </section>
  </main>
  <%- include('partials/footer') %>
</body>

</html>