<%- include('./partials/head')%>

<body>
  <%- include('./partials/header-navbar')%>

  </header>

  <div class="swiper banner-swipe">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <img class="swiper-slide" src="/img/images.jfif" alt="" id="imagem">
      <img class="swiper-slide" src="/img/images (1).jfif" alt="" id="imagem">
      <img class="swiper-slide" src="/img/images (2).jfif" alt="" id="imagem">
      <img class="swiper-slide" src="/img/images(3).png" alt="" id="imagem">


    </div>
    <!-- Adicione paginação aqui -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

    <!-- Adicione Scroll bar aqui -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>

  <div class="swiper produto">
    <div class="swiper-wrapper">

      <div class="swiper-slide produtinho-wrapper">
        <% products.map((product)=> { %>
        <div class="produtinho">

          <img class="productImage" src="<%= product.image_path%>" alt="imagem do produto">
          <h4>
            <%= product.name %>
          </h4>
          <p>R$<%= product.price %>
          </p>
          <div class="botao">
            <a href="/detalhe/<%=product.id %>">
              <p> Compre Aqui</p>
            </a>
          </div>

        </div>
        <% }) %>
      </div>

    </div>

    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <section class="promocoes">
    <div id="quadradopromocoes">

      <div id="imagem-esquerda">
        <img src="/img/promocao1.webp" alt="imagem seila">
      </div>

      <div id="imagens-direita">

        <img src="/img/promocao2.webp" alt="uma das 4">
        <img src="/img/promocao3.webp" alt="uma das 4">
        <img src="/img/promocao4.webp" alt="uma das 4">
        <img src="/img/promocao5.webp" alt="uma das 4">

      </div>

    </div>
  </section>

  <section class="promo-mobile">
    <div id="mobile-promo">
      <img src="/img/promo-mobile1.webp" alt="promo-mobile">
      <img id="mobile1" src="/img/promo-mobile2.webp" alt="promo-mobile">
      <!-- <img src="/img/promo-mobile3.webp" alt="promo-mobile"> -->
    </div>
  </section>

  <section class=" swiper topicos">
    <div class="swiper-wrapper">
      <img class="swiper-slide swiper-topicos" src="/img/topicos-linhacarvoes.webp" alt="">
      <img class="swiper-slide swiper-topicos" src="/img/topicos-linhafogareiros.webp" alt="">
      <img class="swiper-slide swiper-topicos" src="/img/topicos-linhaheadshops.webp" alt="">
      <img class="swiper-slide swiper-topicos" src="/img/topicos-linhaherois.webp" alt="">
      <img class="swiper-slide swiper-topicos" src="/img/topicos-linhaimportados.webp" alt="">
      <img class="swiper-slide swiper-topicos" src="/img/topicos-linhakiteconomicos.webp" alt="">
    </div>

  </section>

  <div class="nossas-marcas">
    <a style="background: #fff; color: #fff;">a</a>
    <h2 style="color: #2e2c2d; width: auto !important;">NOSSAS MARCAS</h2>
    <a style="background: #fff; color: #fff;">a</a>
  </div>

  <!-- Carrossel Marcas -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_2.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_4.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_8.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_9.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_10.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_11.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_12.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_13.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_14.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_15.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_16.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_17.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_19.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_20.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_21.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_22.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_23.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_24.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_25.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_26.png" alt="">
      <img class="swiper-slide swiper-marcasimg" src="/img/logos_bf21_28.png" alt="">
    </div>
  </div>

  <footer>
    <%- include('./partials/footer.ejs')%>
  </footer>

  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script>
    var banner = new Swiper(".banner-swipe", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 3500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    const produtos = new Swiper('.produto', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });

    var marcas = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 10,
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      },
    });

    var topicos = new Swiper(".topicos", {
      slidesPerView: 1,
      spaceBetween: 10,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      },
    });
  </script>
</body>

</html>