<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/productDelete.css">

<body>

  <%- include('partials/header-navbar') %>
  <main>
    <article class="success">
      <h1>Tem certeza que deseja deletar o produto:</h1>
      <h2> <%= products.name %>?</h2>

      <form action="/categoria/admin/delete/<%= products.id %>?_method=DELETE" method="POST">

        <button class="btn-delete" type="submit">Apagar produto</button>

        <a class="btn-back" href="/categoria/admin">Listar Produtos</a>
 N
      </form>


    </article>
  </main>
  <%- include('partials/footer') %>

</body>

</html>