<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/adminProducts.css">

<body>

  <%- include('partials/header-navbar') %>
  <main>
    <article class="container-products_admin">
      <h1>Editando produto: <%= product.name %></h1>
      <form class="form-edit" action="/categoria/admin/update/<%= product.id %>?_method=PUT" method="POST"
        enctype="multipart/form-data">
        <div class="name-product">
          <label for="name">Nome</label>
          <input type="text" name="name" size="100" value="<%= product.name %>" required>
        </div>
        <div class="describe">
          <label for="description">Descrição</label>
          <textarea name="description" id="description"><%= product.description %></textarea>
        </div>
        <div class="specification">
          <label for="specification">Especificação</label>
          <textarea name="specification" id="specification" required><%= product.specification %></textarea>
        </div>

        <label class="picture">
          <input type="file" name="file" accept="image/*" id="image-input" value="<%= product.image_path %>">
          <span class="picture-product">Escolha uma imagem</span>
        </label>

        <div class="price-stock">
          <div class="price-one">
            <label for="price" class="price">Preço</label>
            <input id="price" type="number" name="price" value="<%= product.price %>" required>
          </div>
          <div class="stock-one">
            <label for="stock" class="stock">Estoque</label>
            <input id="stock" type="number" name="stock" value="<%= product.stock %>" required>
          </div>
        </div>

        <div class="brand-category">

          <div class="sale">
            <div class="discount-yes">
              <p>Desconto</p>
              <input type="radio" id="sale" name="sale" value="1">
              <label for="sale">Sim</label>
            </div>
            <div class="discount-no">
              <input type="radio" id="sale" name="sale" value="0" checked>
              <label for="sale">Não</label>
            </div>
          </div>

          <label for="brand">Marca</label>
          <input type="text" name="brand" id="brand" size="100" value="<%= product.brand %>" required>


          <label for="category">Categoria</label>
          <input type="text" name="category" id="category" size="100" value="<%= product.category %>" required>


        </div>
        <div class="register-admin">
          <button class="submit-admin" type="submit">Salvar edição</button>
        </div>

      </form>
    </article>
  </main>
  <%- include('partials/footer') %>

</body>

</html>